[Unit]
Description=MongoDB Monitoring Agent
Requires=docker.service
After=docker.service

[Service]
Environment=MONGODB_MMS_AGENT_IMAGE=neowaylabs/mongodb-mms-agent
Environment=MONGODB_MMS_KEY=YOUR_MMS_KEY
User=core
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=-/usr/bin/docker pull ${MONGODB_MMS_AGENT_IMAGE}
ExecStart=/usr/bin/docker run --net=host \
    --privileged \
    --log-driver=syslog \
    --env MMS_API_KEY=${MONGODB_MMS_KEY} \
    --name %p \
    ${MONGODB_MMS_AGENT_IMAGE}
ExecStop=/usr/bin/docker stop %p
Restart=always

[Install]
WantedBy=multi-user.target
